<table class="table table-adjust td-adjust-40">
    <thead>
        <tr class="tr-border">
            <th>Name</th>
            <th>Descripion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tr-border">
            <td><input type="text" data-ng-model="sub.newRecord.name" /></td>
            <td><input type="text" data-ng-model="sub.newRecord.description" /></td>
            <td>
                <button class="btn btn-success" ng-click="sub.addNewRecord(sub.newRecord);">Add</button>
            </td>
        </tr>
    </tbody>
</table>